.panel-table {
  .form-inline {
    margin-bottom: 20px;
    .checkbox {
      margin-right: 5px;
    }
  }
  .table {
    margin-top: 20px;
  }
  .delete {
    width: 100px;
    text-align: center;
  }
  .sort-up {
    color: #F44336;
  }
  .sort-down {
    color: #009688;
  }
}